html{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(225deg, #B165FD, #AABCEA);
  background-repeat: no-repeat;
  min-height: 100vh;
}
body{
    padding: 4vh 10vw 4vh 10vw;
}

body.login{
  padding-top: 16.7vh;
}

.row {
    font-size: 3.4vh;
    font-weight: bold;
  /* border: 3px solid blue; */
  display: flex;
}

.column.selection-col input, .column.selection-col select{
  width: 15vw;
  min-width: 125px;
}



.column {
  /* border: 3px solid red; */
  float: left;
  width: 50%;
}

.btn-signup {
  width: 14vw;
  height: 7vh;
  border: 4px solid #FFF;
  border-radius: 10px;
  background-color: #4ca82c;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.4vh;
  font-weight: bold;
  color: #FFF;
}

.btn-login {
  width: 37%;
  height: 10%;
  border-radius: 5px;
  color: #fff;
  font-size: 3.4vh;
  font-weight: bold;
}

.headbar {
  width: 95vw;
  height: 10vh;
  margin-left: -8vw;
  background-color: white;
  padding-top: 1px;
  border-radius: 20px;
}

.greet-text {
  position: relative;
  top: -2.6vh;
  left: 30vw;
  font-size: 36px;
}

.reserve {
  width: 35vw;
  height: 22vw;
  background-color: white;
  border-radius: 20px;
  margin: 15vh auto 0 auto;
}

.member-type-label{
    font-size: 3.4vh;
    font-weight: 500;
}

.row.login{
  margin: 3.8%;
  align-content: space-between;
}

.login-panel{
  width: 37vw; 
  height: 68vh; 
  background: white;
  border-radius: 4vh; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-label{
  text-align: left;
  margin-left: 1.5vw;
}

form.login-panel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-panel p{
  text-align: center;
  color: #882CD1;
}


input, select{
    height: 7vh;
    border: 0px;
    border-radius: 10px;
    font-size: 3.4vh;
    text-align: center;
    width: 20.7vw;
    min-width: 250px;
}

input.radio-btn{
    width: 3vw;
    min-width: 20px;
    min-height: 20px;
    border: 0px;
}

input.text-field{
    width: 32vw;
}

input.text-field.login{
  margin: 1.3vh 1.5vw 1.3vh 1.5vw;
  border-bottom: 4px solid #555555;
  border-radius: 0px;
}





  @media (max-width: 600px) {
      .column {
        width: 100%;
      }
      .row{
        display: block;
      }
  }
