html{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(225deg, #B165FD, #AABCEA);
  background-repeat: no-repeat;
  min-height: 100vh;
}
body{
  padding: 4vh 10vw 4vh 10vw;
}

body.login{
  padding-top: 16.7vh;
}

.row {
  font-size: 3.4vh;
  font-weight: bold;
  /* border: 3px solid blue; */
  display: flex;
}

.column {
  /* border: 3px solid red; */
  float: left;
  width: 50%;
}

.column.selection-col input, .column.selection-col select {
  width: 15vw;
  min-width: 125px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4vh 0 4vh 0;
}

.btn-signup {
  width: 14vw;
  height: 7vh;
  border: 4px solid #FFF;
  border-radius: 10px;
  background-color: #4ca82c;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.4vh;
  font-weight: bold;
  color: #FFF;
}

.btn-login {
  width: 37%;
  height: 10%;
  border-radius: 5px;
  color: #fff;
  font-size: 3.4vh;
  font-weight: bold;
}

.headbar {
  width: 96.77vw;
  height: 14.35vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.headbar img{
  height: 10.5vh; 
  width: auto;
  position: relative; 
  left: 3vw;
}

.headbar p{
  font-weight: bold;
}

.greet-text {
  position: relative;
  top: 3vh;
  left: 24vw;
}

.reserve {
  width: 36.25vw;
  height: 42vh;
  background-color: white;
  border-radius: 20px;
  margin: 17vh 5vw 0 5vw;
  border: none;
}

.reserve button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.reserve label, .add label, .admin td, .popup h1, .greet-text{
  font-size: 5.18vh;
  font-weight: bold;
  font-family: "Inter";
}

.reserve-icon{
  height: 22vh;
}

.member-type-label{
    font-size: 3.4vh;
    font-weight: 500;
}

.row.login{
  margin: 3.8%;
  align-content: space-between;
}

.login-panel{
  width: 37vw; 
  height: 68vh; 
  background: white;
  border-radius: 4vh; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-label{
  text-align: left;
  margin-left: 1.5vw;
}

form.login-panel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-panel p{
  text-align: center;
  color: #882CD1;
}


input, select {
    height: 7vh;
    border: 0px;
    border-radius: 10px;
    font-size: 3.4vh;
    text-align: center;
    width: 20.7vw;
    min-width: 250px;
}

input.radio-btn{
    width: 3vw;
    min-width: 20px;
    min-height: 20px;
    border: 0px;
}

input.text-field{
    width: 32vw;
}

input.text-field.login{
  margin: 1.3vh 1.5vw 1.3vh 1.5vw;
  border-bottom: 4px solid #555555;
  border-radius: 0px;
}

.reserve.admin{
  height: 30vh;
  margin: 8.5vh 5vw 0 5vw;
}

.reserve-icon.admin{
  height: 15.8vh;
}

/* .main {
  background-color: white;
  padding: 2vw;
}

.main table {
	border-collapse: collapse;
	margin-left: 20px;
	width: 100%;
}

.main th {
	border: 1px solid black;
  padding: 1vh;
	background-color: #F577A6;
}
.main td {
	border: 1px solid black;
  text-align: center;
}
.main button {
  width: 100%;
} */

.manage-panel{
  width: 93.77vw;
  height: 67.5vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 5.5vh;
  padding-top: 2.5vh;
  padding-left: 3vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.book-panel{
  width: 93.77vw;
  margin-bottom: -6.3vh;
  font-size: 3.6vh;
  font-weight: 300;
}

/* HIDE THE SCROLLBAR */
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.manage-panel a {
  color: black;
  text-decoration: none;
}

button.add {
  width: 13.6vw;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -1.14vw;
}

.add-icon{
  height: 11.7vh;
}

/* .add-book {
  height: 90vh;
  top: 4vh;
  padding: 1vh 0;
} */

.add-book{
  color: #B165FD;
  font-size: 5.92vh;
  font-weight: 300;
  font-family: "Inter";
  padding: 4.72vh 0 0 5.3vw;
  width: 96.77vw;
  margin: 3vh 1.19vw 0 1.19vw;
}

.add-book input{
  color: white;
  background-color: #B165FD;
  width: 100%;
  border-radius: 4.6vh;
}

.add-book input#submit-button{
  width: 31.56vw;
  height: 13.43vh;
  font-family: "Inter";
  font-weight: bold;
  font-size: 8.9vh;
  border-radius: 4.6vh;
}

.add-admin {
  height: 80vh;
  top: 4vh;
  padding: 1vh 0;
}

.popup {
  z-index: 3;
  position: relative;
  padding: 0;
  width: 40vw;
  height: 65vh;
  position: fixed;
  top: 17.5vh;
  left: 30.3vw;
  background-color: #B165FD;
  border-radius: 20px;
  display: none;
}

.popError, .popSuccess {
  z-index: 3;
  position: relative;
  padding: 0;
  width: 40vw;
  height: 35vh;
  position: fixed;
  top: 32.5vh;
  left: 30.3vw;
  background-color: white;
  border-radius: 20px;
  display: none;
}

.popup h1 {
  color: white;
  margin: 0;
}

.popSuccess h1 {
  color: white;
  font-size: 8.89vh;
  margin: 0;
}

.popup h2, .popSuccess h2 {
  font-size: 5vh;
  font-family: "Inter";
  font-weight: 500;
  color: white;
  margin: 0;
}

.popup .column {
  width: 100%;
  text-align: center;
}

.popup input, .popSuccess input {
  border-radius: 35px;
  color: black;
  font-weight: bold;
  height: 13.4vh;
  width: 31.56vw;
  font-size: 8.89vh;
}

.popup input#username {
  height: 6.2vh;
  font-size: 5.18vh;
  font-weight: 300;
}

.popup input#borrow, .popup input#return, .popup input#startTime, .popup input#endTime,
.popup input#Name, .popup input#Author, .popup input#Genre, .popup input#ISBN {
  height: 6.2vh;
  font-size: 5.18vh;
  font-weight: 300;
}

.popup input#admuser, .popup input#admpasswd, .popup input#admconfirm {
  height: 6.2vh;
  font-size: 5.18vh;
  font-weight: 300;
}

.overlay{
  z-index: 2;
  background: white;
  height: 999%;
  width: 999%;
  opacity: 0.6;
  position: fixed;
  display: none;
}

.table-panel{
  background-color: white;
  width: 78.18vw;
  height: 87.31vh;
  border-radius: 47px;
}

.table{
  z-index: 1;
  position: fixed;
  width: 10.2vw;
  height: 11.76vh;
  background-color: #BCEEB3;
  border: none;
  border-radius: 14px;
  font-size: 2.96vh;
  font-weight: bold;
  color: #508048;
  font-family: Inter;
}

.table.reserved{
background-color: #F3A391;
color: #805248;
}

.table#table1{
  
  left: 7.92vw;
  top: 14.44vh;
}
.table#table2{
  
  left: 7.92vw;
  top: 33.24vh;
}
.table#table3{
  
  left: 7.92vw;
  top: 52.04vh;
}
.table#table4{
  
  left: 7.92vw;
  top: 70.84vh;
}
.table#table5{
  
  left: 32.18vw;
  top: 11.11vh;
  width: 19.35vh;
  height: 19.35vh;
  border-radius: 100%;
}
.table#table6{
  
  left: 48.75vw;
  top: 11.11vh;
  width: 19.35vh;
  height: 19.35vh;
  border-radius: 100%;
}
.table#table7{
  
  left: 65.32vw;
  top: 11.11vh;
  width: 19.35vh;
  height: 19.35vh;
  border-radius: 100%;
}
.table#table8{
  
  left: 65.32vw;
  top: 39.63vh;
  width: 19.35vh;
  height: 19.35vh;
  border-radius: 100%;
}
.table#table9{
  
  left: 65.32vw;
  top: 68.15vh;
  width: 19.35vh;
  height: 19.35vh;
  border-radius: 100%;
}
.table#table10{
  
  left: 30.21vw;
  top: 44.81vh;
  width: 24.95vw;
  height: 15.37vh;
}
.table#table11{
  
  left: 30.21vw;
  top: 68.52vh;
  width: 24.95vw;
  height: 15.37vh;
}

.icon-container{
  margin-left: 4.06vw;
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-container img{
  max-height: 57%;
}

/* @media (max-width: 600px) {
    .column {
      width: 100%;
    }
    .row{
      display: block;
    }
} */
