html{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(225deg, #B165FD, #AABCEA);
  background-repeat: no-repeat;
  min-height: 100vh;
}
body{
    padding: 4vh 10vw 4vh 10vw;
}

body.login{
  padding-top: 16.7vh;
}

.row {
  font-size: 3.4vh;
  font-weight: bold;
  /* border: 3px solid blue; */
  display: flex;
}

.column {
  /* border: 3px solid red; */
  float: left;
  width: 50%;
}

.column.selection-col input, .column.selection-col select {
  width: 15vw;
  min-width: 125px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4vh 0 4vh 0;
}

.btn-signup {
  width: 14vw;
  height: 7vh;
  border: 4px solid #FFF;
  border-radius: 10px;
  background-color: #4ca82c;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.4vh;
  font-weight: bold;
  color: #FFF;
}

.btn-login {
  width: 37%;
  height: 10%;
  border-radius: 5px;
  color: #fff;
  font-size: 3.4vh;
  font-weight: bold;
}

.headbar {
  width: 96.77vw;
  height: 14.35vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.headbar img{
  height: 10.5vh; 
  width: auto;
  position: relative; 
  left: 3vw;
}

.headbar p{
  font-weight: bold;
}

.greet-text {
  position: relative;
  top: 3vh;
  left: 24vw;
}

.reserve {
  width: 36.25vw;
  height: 42vh;
  background-color: white;
  border-radius: 20px;
  margin: 17vh 5vw 0 5vw;
  border: none;
}

.reserve button {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.reserve label, .add label, .admin td, .popup h1, .greet-text{
  font-size: 5.18vh;
  font-weight: bold;
  font-family: "Inter";
}

.reserve-icon{
  height: 22vh;
}

.member-type-label{
    font-size: 3.4vh;
    font-weight: 500;
}

.row.login{
  margin: 3.8%;
  align-content: space-between;
}

.login-panel{
  width: 37vw; 
  height: 68vh; 
  background: white;
  border-radius: 4vh; 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-label{
  text-align: left;
  margin-left: 1.5vw;
}

form.login-panel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.login-panel p{
  text-align: center;
  color: #882CD1;
}


input, select{
    height: 7vh;
    border: 0px;
    border-radius: 10px;
    font-size: 3.4vh;
    text-align: center;
    width: 20.7vw;
    min-width: 250px;
}

input.radio-btn{
    width: 3vw;
    min-width: 20px;
    min-height: 20px;
    border: 0px;
}

input.text-field{
    width: 32vw;
}

input.text-field.login{
  margin: 1.3vh 1.5vw 1.3vh 1.5vw;
  border-bottom: 4px solid #555555;
  border-radius: 0px;
}

.reserve.admin{
  height: 30vh;
  margin: 8.5vh 5vw 0 5vw;
}

.reserve-icon.admin{
  height: 15.8vh;
}

/* .main {
  background-color: white;
  padding: 2vw;
}

.main table {
	border-collapse: collapse;
	margin-left: 20px;
	width: 100%;
}

.main th {
	border: 1px solid black;
  padding: 1vh;
	background-color: #F577A6;
}
.main td {
	border: 1px solid black;
  text-align: center;
}
.main button {
  width: 100%;
} */

.manage-panel{
  width: 93.77vw;
  height: 67.5vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 5.5vh;
  padding-top: 2.5vh;
  padding-left: 3vw;
  overflow-y: auto;
}

.book-panel{
  width: 93.77vw;
  margin-bottom: -6.3vh;
  font-size: 5.18vh;
  font-weight: 300;
  font-family: "Inter";
}

.manage-panel a{
  color: black;
  text-decoration: none;
}

button.add{
  width: 13.6vw;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -1.14vw;
}

.add-icon{
  height: 11.7vh;
}

.popup{
  padding: 0 0 0 0;
  width: 40vw;
  height: 65vh;
  position: fixed;
  top: 17.5vh;
  left: 30.3vw;
  background-color: #B165FD;
  border-radius: 20px;
  display: none;
}

.add-book{
  height: 90vh;
  top: 4vh;
  padding: 1vh 0 1vh 0;
}

.popup h1{
  color: white;
  margin: 0 0 0 0;
}

.popup h2{
  font-size: 5.18vh;
  font-family: "Inter";
  font-weight: 300;
  color: white;
  margin: 0 0 0 0;
}

.popup .column{
  width: 100%;
  text-align: center;
}

.popup input{
  border-radius: 35px;
  color: #B165FD;
  font-weight: bold;
  height: 13.4vh;
  width: 31.56vw;
  font-size: 8.89vh;
}

.popup input#username{
  height: 6.2vh;
  font-size: 5.18vh;
  font-weight: 300;
}

.popup input#borrow, .popup input#return, .popup input#Name, .popup input#Author, .popup input#Genre, .popup input#ISBN{
  height: 6.2vh;
  font-size: 5.18vh;
  font-weight: 300;
}

.overlay{
  background: white;
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  position: fixed;
  display: none;
}



  @media (max-width: 600px) {
      .column {
        width: 100%;
      }
      .row{
        display: block;
      }
  }
